.placeholder{
    width: clamp(500px, 60%, 800px);
    margin: 40px auto;
    text-align: justify;
}


/* Contact Us KJ CSS starts*/

.contact_img{
    height: 350px;
}

.contact_text{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(218, 216, 214);
}

.contact_div{
    background-color:#4b4d4d;
}

.contact_img_cont{
    display: flex;
}

/* Contact Us KJ CSS end */