.placeholder{
    width: clamp(500px, 60%, 800px);
    margin: 40px auto;
    text-align: justify;
}


/* Contact Us KJ CSS starts*/


.contact_img_cont{
    display: flex;
}

/* Contact Us KJ CSS end */